.profile {
    height: 60px;
    border-bottom: 1px solid #b7b7b7;
    width: 99%;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.routes {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #bcbcbc;
    width: 99%;
}

.route {
    font-size: 15px;
    color: #1a5982;
    margin: 15px 7px;
}

.big-icon {
    font-size: 60px;
    color: #1a5982;
}

.owner-name {
    color: #1a5982;
}

.route-name {
    margin-left: 10px;
}